/*
 *	DROPDOWN SELECTTION FIELD CSS
 *
 *	@since	0.9.0
 *	@update	1.0.0
 */
	ul.holderdrop { 
		margin: 0; 
		width: 100%; 
		background: #FFF; 
		border: 1px solid #dfdfdf; 
		overflow: hidden; 
		height: auto !important; 
		height: 1%; 
		padding: 6px 0 2px 0;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		cursor:text; 
		z-index: 999999;
	}
	/* IE7 and below */
	*:first-child+html ul.holderdrop { 
		padding-bottom: 2px; 
	}
	* html ul.holderdrop { 
		padding-bottom: 2px; 
	}
	ul.holderdrop li { 
		float:left; 
		list-style-type: none; 
		margin: 0 3px 4px 4px; 
		z-index: 999999;
	}
	ul.holderdrop li.bit-box, ul.holder li.bit-input input { 
		font: 11px "Lucida Grande", "Verdana"; 
	}
	ul.holderdrop li.bit-box { 
		border: 1px solid #CAD8F3; 
		background: #DEE7F8;
		padding: 1px 5px 2px;
		cursor:pointer;
	}
	ul.holderdrop li.bit-box:hover { 
		border: 1px solid #CAD8F3; 
		background: #CED7E8; 
	}
	/* no left/right padding here please */
	ul.holderdrop li.bit-input input { 
		width: 150px;
		margin: 0; 
		border: none; 
		outline: 0; 
		padding: 3px 0 2px;
		box-shadow: none;
	}
	ul.holderdrop li.bit-input input.smallinput { 
		width: 20px; 
	}	
	ul.holderdrop li.bit-box a.closebutton {
		float:right; 
		margin:4px 0 0 4px; 
		display: block; 
		width: 7px; 
		height: 7px; 
		font-size: 1px; 
		background: url('../../images/close.gif') left top no-repeat; 
	}
	ul.holderdrop li.bit-box a.closebutton:hover { 
		background-position: left -7px; 
	}
	ul.holderdrop li.bit-box-focus a.closebutton, ul.holderdrop li.bit-box-focus a.closebutton:hover { 
		background-position: left bottom; 
	}
	select#recipient_change{
		padding: 6px;
		height: auto;
		cursor:pointer;
	}

	
/*
 *	AUTOCOMPLETE INPUT FIELD
 *
 *	@since	0.9.0
 *	@update	1.0.0
 */
	#title-prompt-text2, #title-prompt-text1{
		color: #bbb;
		font-size: 1.7em;
		padding: 8px 10px;
		cursor: text;
		text-align: right;
		position: relative;
		display: block;
	}
	input#recipients, input#recipients:hover, input#recipients:focus {
	}
	ul.holder { 
		margin: 0; 
		width: 100%; 
		background: #FFF;
		padding: 1px 0;
		border: 1px solid #dfdfdf; 
		overflow: hidden; 
		height: auto !important; 
		height: 1%;
		border-radius: 3px;
		font-size: 1.7em;
		line-height: 100%;
		cursor:text; 
		z-index: 999999;
	}
	/* ie7 and below */
	*:first-child+html ul.holder { 
		padding-bottom: 2px; 
	} 
	* html ul.holder { 
		padding-bottom: 2px;
	}
	ul.holder li { 
		float:left; 
		list-style-type: none; 
		z-index: 999999;
	}
	ul.holder li.bit-box, ul.holder li.bit-input input { 
		font: 11px "Lucida Grande", "Verdana"; 
	}
	ul.holder li.bit-box { 
		border: 1px solid #CAD8F3; 
		background: #DEE7F8; 
		padding: 1px 5px 2px;
		margin: 4px;
	}
	ul.holder li.bit-box-focus { 
		border-color: #598BEC; 
		background: #598BEC; 
		color: #fff; 
	}
	/* no left/right padding here please */
	ul.holder li.bit-input input { 
		width: 150px; 
		margin: 0; 
		border: none; 
		outline: 0; 
		padding: 3px 0 2px;
		margin: 0 6px;
		box-shadow: none;
	}
		
	ul.holder li.bit-input input.smallinput { 
		width: 20px; 
	}	
	form ol { 
		font: 11px "Lucida Grande", "Verdana"; 
		margin: 0; 
		padding: 0; 
	}
	form ol li.input-text { 
		margin-bottom: 10px; 
		list-style-type: none; 
		border-bottom: 1px dotted #106a9a; 
		padding-bottom: 10px; 
	}
	form ol li.input-text label { 
		font-weight: bold; 
		cursor: pointer; 
		display: block; 
		font-size: 13px; 
		margin-bottom: 10px; 
	}
	form ol li.input-text input { 
		min-width: 100%; 
		padding: 6px 5px 7px; 
		font: 11px "Lucida Grande", "Verdana";
		border: 1px solid #106a9a; 
		box-shadow: none;
	}
	form ul.holder { 
		width: 100%;
	}

	#facebook-list ul.holder li.bit-box, #apple-list ul.holder li.bit-box { 
		padding-right: 15px; 
	}
	#apple-list ul.holder li.bit-input { 
		margin: 0; 
	}
	#apple-list ul.holder li.bit-input input.smallinput { 
		width: 5px; 
	}
	ul.holder li.bit-hover { 
		background: #BBCEF1; 
		border: 1px solid #6D95E0; 
	}
	ul.holder li.bit-box-focus { 
		border-color: #598BEC; 
		background: #598BEC; 
		color: #fff; 
	}
	ul.holder li.bit-box a.closebutton {
		float:right; 
		margin:4px 0 0 4px; 
		display: block; 
		width: 7px; 
		height: 7px; 
		font-size: 1px; 
		background: url('../../images/close.gif') left top no-repeat; 
	}
	ul.holder li.bit-box a.closebutton:hover {
		background-position: left -7px; 
	}
	ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { 
		background-position: left bottom; 
	}

	#facebook-auto { 
		display: none; 
		width: 100%; 
		background: #f2f2f2; 
		color: #000; 
		margin-top:-1px; 
		z-index: 9999999;
	}
	#facebook-auto .default { 
		padding: 5px 0px;
		width: 100%;
		color: #999;
		border: 1px solid #dfdfdf; 
		border-width: 0 1px 1px; 
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		-moz-border-radius-bottomleft: 3px;
		-moz-border-radius-bottomright: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
	}
	#facebook-auto .default span{
		margin-left: 5px;
		padding-left: 5px;
	} 
	#facebook-auto ul { 
		display: none; 
		margin: 0; 
		padding: 0; 
		overflow: auto; 
		z-index: 9999999;
	}
	#facebook-auto ul li { 
		padding: 5px 12px; 
		z-index: 9999999;
		cursor: pointer; 
		margin: 0; 
		list-style-type: none; 
		border: 1px solid #ccc; 
		border-width: 0 1px 1px; 
		font: 11px "Lucida Grande", "Verdana"; 
	}
	#facebook-auto ul li em { 
		font-weight: bold; 
		font-style: normal; 
		background: #ccc; 
	}
	#facebook-auto ul li.auto-focus { 
		background: #4173CC; 
		color: #fff; 
	}
	#facebook-auto ul li.auto-focus em { 
		background: none; 
	}
	#demo ul.holder li.bit-input input { 
		padding: 2px 0 1px; 
		border: 1px solid #106a9a; 
	}
	#add a { 
		color: #666; 
	}
	#add-test { 
		width: 100px; 
		padding: 2px; 
	}
	#button_container { 
		margin-left: 70px; 
		margin-bottom: 30px;
	}